{% extends 'base.html' %} {% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-7">
    <div class="card shadow-lg">
      <div class="card-body p-5">
        <h2 class="text-center mb-4">Add New Blog</h2>

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}

        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="mb-3">
            <label class="form-label">Title</label>
            {{ form.title }} {% for error in form.title.errors %}
            <div class="text-danger small">{{ error }}</div>
            {% endfor %}
          </div>

          <div class="mb-3">
            <label class="form-label">Content</label>
            {{ form.content }} {% for error in form.content.errors %}
            <div class="text-danger small">{{ error }}</div>
            {% endfor %}
          </div>

          <div class="mb-3">
            <label class="form-label">Image (optional)</label>
            {{ form.image }} {% for error in form.image.errors %}
            <div class="text-danger small">{{ error }}</div>
            {% endfor %}
          </div>

          <div class="mb-3">
            <label class="form-label">Video (optional)</label>
            {{ form.video }} {% for error in form.video.errors %}
            <div class="text-danger small">{{ error }}</div>
            {% endfor %}
          </div>

          <div class="form-check mb-3">
            {{ form.is_published }}
            <label class="form-check-label">Publish now?</label>
          </div>

          <button type="submit" class="btn btn-primary w-100">
            
            {% if is_edit %}
              Update
              {% else %}
              Add
            {% endif %}
              
            </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
