{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <div class="card shadow-sm">
    {% if blog.image %}
      <img 
    src="{{ blog.image.url }}" 
    class="card-img-top m-auto " 
    alt="{{ blog.title }}"
    style="height: 200px; width: 50%; object-fit: fill;"
>
    {% endif %}

    <div class="card-body">
      <h3 class="card-title text-center">{{ blog.title }}</h3>
      <p class="card-text ">{{ blog.content }}</p>

      {% if blog.video %}
        <video width="100%" controls class="mt-3">
          <source src="{{ blog.video.url }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      {% endif %}

      <p class="text-muted mt-3 text-center">
        By {{ blog.author.username }} | {{ blog.created_at|date:"M d, Y" }}
      </p>

      {% if blog.author == request.user %}
        <a href="{% url 'edit_blog' blog.id %}" class="btn btn-warning btn-sm">Edit</a>
        <form action="{% url 'delete_blog' blog.id %}" method="POST" class="d-inline">
          {% csrf_token %}
          <button class="btn btn-danger btn-sm">Delete</button>
        </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}